/****** ------------------ OVERALL CSS ------------------ ******/
body {
  margin: 0;
  font-family: "Libre Baskerville", "Times New Roman", serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}
img#logo {
  height: 100px;
  display: block;
  margin: 0 auto;
}
.wrapper {
  width: 100%;
  min-height: calc(100%);
  background-image: url('images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 550px;
  width: 100%;
  background-color: #fff;
  box-shadow:inset 0px 0px 0px 1px #f5f5f5, 0px 1px 3px #eee;
  border: 10px solid #fff;
  padding: 15px 40px;
  box-sizing: border-box;
}
@media (max-width: 575px) {
  .container {
    padding: 15px 5%;
  }
  .wrapper {
    box-sizing: border-box;
    padding: 2.5%;
  }
}

/****** ------------------ CONTENT CSS ------------------ ******/
.content {
  color: #666;
  padding-top: 10px;
}
.content h1 {
  font-size: 13px;
  letter-spacing: 0.05em;
}
blockquote {
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  width: 100%;
  margin: 15px 0 0 0;
  text-align: center;
  color: #999;
}
h1 {
  font-size: 16px;
  color: #999;
  text-align: center;
  margin: 0;
}
h2 {
  font-size: 8px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 25px;
  color: #999;
}
p {
  line-height: 18px;
}
p a {
  text-decoration: none;
  color: #999;
}
p a:hover {
  border-bottom: 1px solid #f5f5f5;
  cursor: pointer;
}
hr {
  display: block;
  height: 1px;
  border: none;
  background-color: #f5f5f5;
  margin: 25px 0px;
}
p.center {
  text-align: center;
  margin: 5px;
}

/****** ------------------ EMAIL FORM CSS ------------------ ******/
#mce-EMAIL {
  width: calc(100% - 60px);
  background-color: #f5f5f5;
  outline: none;
  border: none;
  height: 30px;
  font-family: "Libre Baskerville", "Times New Roman", serif;
  line-height: 30px;
  padding: 0px 10px;
  margin: 0 0 10px 0px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: bottom;
}
input::-webkit-input-placeholder {
  color: #ccc;
}
#mc-embedded-subscribe {
  width: 60px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  font-size: 10px;
  color: #888;
  margin: 0 0px 10px -5px;
  font-family: "Libre Baskerville", "Times New Roman", serif;
  outline: none;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: bottom;
}
#mc-embedded-subscribe:hover {
  cursor: pointer;
}

/****** ------------------ POP UP CSS ------------------ ******/
.pop-up-wrapper {
  width: 100%;
  min-height: 100%;
  background-color: #f5f5f5;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#exit-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
#exit-button:hover {
  cursor: pointer;
}
img#back-arrow {
  opacity: 0;
}
div.pop-up-heading {
  height: 50px;
}
.pop-up-wrapper h1.archive-heading {
  font-size: 14px;
  letter-spacing: 0.6em;
  padding-left: 0.6em;
  color: #ccc;
  margin: 0;
  line-height: 50px;
  text-align: center;
  flex-basis: 0;
}
.archive-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.archive-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.collection-container {
  max-width: 550px;
  width: 95%;
  margin: 0 auto;
  overflow: auto;
}
.hidden-container {
  display: none;
  float: left;
}
.pop-up-wrapper div.container {
  float: left;
}
.pop-up-wrapper img.arrow {
  margin: 25px;
  display: block;
}
.pop-up-wrapper img.arrow:hover {
  cursor: pointer;
}
@media (max-width: 575px) {
  .pop-up-wrapper {
    box-sizing: border-box;
    padding: 2.5%;
  }
  #exit-button {
    width: 25px;
    height: 25px;
    top: 18px;
    right: 5%;
  }
  .pop-up-wrapper img.arrow {
    display: none;
  }
}
